title{
  font-family: "Tinos", serif;
}

body {
  background-color: #999999;
  margin: 0;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

/*NAVIGATION*/
.sidebarleft{
  grid-column: span 3;
  display: inline-block;
}

h1 {
  font-family: "Tinos", serif;
  font-weight: bolder;
  text-align: center;  
  font-size: 2em;
  background-color: #d4d4d4;
  color: rgb(0, 0, 0);
  padding: 15px;
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 8px;  
}

h1 a{
  text-decoration: none;
  color:rgb(0, 0, 0);
}

nav ul {
  list-style-type: none; /* none, disc, circle, square */
  margin: 0;
  padding: 0;
}

nav li {
  grid-column: span 3;
}

nav li a {
  border: none;
  padding: 15px;
  margin: 10px;
  margin-left: 0;
  width: 200px;
  background-color: #d4d4d4;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: normal;
  font-size: 1.2em;
  border-radius: 8px;
}

nav li a:hover {
  background-color: #9a9a9a;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: normal;
  scale: 1.05;
  transition: all .25s;
}

.socialbutton {
margin: 10px;
width: 200px;
display: inline-block;
text-align: center;
}

.socialbutton a{
  color: #5c5c5c;
  text-decoration: none;
  font-size: 3em;
  margin: 7px;
}

.socialbutton a:hover {
  color: #000000;
  text-decoration: none;
  margin: 7px;
  transition: all .25s;
}

/*MAIN PAGE*/

.mainpageright {
  grid-column: span 9;
  padding: 15px;
  margin: 0px;
}

.image-grid {
  --gap: 16px; /*Gap between items*/
  --num-cols: 2; /*Number of columns in the grid*/
  --row-height: 300px; /*Height of each row*/

  box-sizing: border-box;
  padding: var(--gap);

  grid-column: span 9; /*Span 9 columns*/
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr); /* Create a grid with 2 columns */
  grid-auto-rows: var(--row-height); /*Set an unlimited number of 300px rows in the grid. Sets the height of each row */
  gap: var(--gap); /*Set the gap between each item in the grid */
}

.image-grid > a img{
  width: 100%;
  height: 100%; /*Contains the image in their containers*/
  object-fit: cover; /*Images maintain their aspect ratio within their containers*/
  box-shadow: 5px 5px 5px #888888; /*Shadow for the images*/
  border-radius: 5px; /*Rounded corners for the images*/
}

.image-grid > a img:hover{
  transform: scale(1.025); /*Scale the image up when hovered*/
  transition: all .25s; /*Transition for the scaling effect*/
}

.image-grid > img{
  width: 100%;
  height: 100%; /*Contains the image in their containers*/
  object-fit: cover; /*Images maintain their aspect ratio within their containers*/
  box-shadow: 5px 5px 5px #888888; /*Shadow for the images*/
  border-radius: 5px; /*Rounded corners for the images*/
}

.image-grid > img:hover{
  transform: scale(1.025); /*Scale the image up when hovered*/
  transition: all .25s; /*Transition for the scaling effect*/
}

.image-grid-col-2{
  grid-column: span 2; /*Span 2 columns, use this for a feature image*/
}

.image-grid-row-2{
  grid-row: span 2; /*Span 2 rows, use this for a feature image*/
}

/*Anything under 1024px*/
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 1; /*Change the number of columns to 1*/
    --row-height: 600px; /*Change the height of each row to 200px*/
  }
}

/*Image Hover Overlay*/
.image-grid > div a img{
  width: 100%;
  height: 100%; /*Contains the image in their containers*/
  object-fit: cover; /*Images maintain their aspect ratio within their containers*/
  box-shadow: 5px 5px 5px #888888; /*Shadow for the images*/
  border-radius: 5px; /*Rounded corners for the images*/
}

.image-grid > div a:hover{
  transform: scale(1.025); /*Scale the image up when hovered*/
  transition: all .25s; /*Transition for the scaling effect*/
}

.image-grid > div img{
  width: 100%;
  height: 100%; /*Contains the image in their containers*/
  object-fit: cover; /*Images maintain their aspect ratio within their containers*/
  box-shadow: 5px 5px 5px #888888; /*Shadow for the images*/
  border-radius: 5px; /*Rounded corners for the images*/
}

.image-grid > div img:hover{
  transform: scale(1.025); /*Scale the image up when hovered*/
  transition: all .25s; /*Transition for the scaling effect*/
}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .25s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .25s ease;
  opacity: .85;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: .75;
}

.container:hover .middle {
  opacity: 0;
}

.text {
  padding: 8px 16px;
  border: none;
  margin: 10px;
  margin-left: 0;
  width: 200px;
  background-color: #d4d4d4;
  color: #000000;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "Tinos", serif;
  font-weight: bold;
  font-size: 1.4em;
  border-radius: 8px;
}

/*VIDEO*/

.video-grid {
  --gap: 16px; /*Gap between items*/
  --num-cols: 1; /*Number of columns in the grid*/
  --row-height: 450px; /*Height of each row*/

  box-sizing: border-box;
  padding: var(--gap);

  grid-column: span 9; /*Span 9 columns*/
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr); /* Create a grid with 2 columns */
  grid-auto-rows: var(--row-height); /*Set an unlimited number of 450px rows in the grid. Sets the height of each row */
  gap: var(--gap); /*Set the gap between each item in the grid */
}

.video-grid > iframe{
  width: 100%;
  height: 100%; /*Contains the image in their containers*/
  object-fit: cover; /*Images maintain their aspect ratio within their containers*/
}

/*SLIDESHOW GALLERY*/
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size:18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
